{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>Features - JurisJunction</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/features-styles.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YM1GGXVM19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YM1GGXVM19');
</script>

<body>
  {% include 'navbar.html' %}
  <main>
    <h1 class="page-title">Site Features</h1>
    <hr>
    <div class="mt-5 page-text">
        <div class="top-text">
            <h2>How Searching Works</h2>
            <p>At JurisJunction, we've designed a seamless and intuitive search experience
                to connect you with the right professionals who can address your 
                specific legal and financial needs. Here's a step-by-step breakdown 
                of how our search process functions:</p>
        </div>
            <div class="step">
            <h4>1. Enter Your Requirements:</h4>
            <div class="step-text">
            <p>Begin by choosing which professional you seek (Laywer or Accountant),
                what expertise you are look for help in, and in what general location you're in.
                These selections will give us a broader idea of what kind of help you need. </p>
        </div>
    </div>
    <div class="b-divider"></div>
    <div class="step">
        <h4>2. Browse the Results:</h4>
        <div class="step-text">
        <p>After submitting your query, you'll be presented with a list of professionals 
            who match your search criteria. Each result provides essential details 
            about the professional, including their expertise, experience, 
            and location. </p>
    </div>
</div>
<div class="b-divider"></div>
<div class="step">
    <h4>3. Filter and Sort:</h4>
    <div class="step-text">
    <p>To further narrow down your options, utilize our filtering options. 
        You can sort results by factors such as specialization, location, 
        ratings, and more. This allows you to find the perfect 
        match for your specific needs. </p>
</div>
</div>
<div class="b-divider"></div>
<div class="step">
    <h4>4. View Professional Profiles:</h4>
    <div class="step-text">
    <p>Click on a professional's profile to access comprehensive information about their background, expertise, 
        certifications, and client reviews. This helps you make an informed decision 
        about who to reach out to. </p>
</div>
</div>
<div class="b-divider"></div>
<div class="step">
    <h4>5.Connect and Communicate:</h4>
    <div class="step-text">
    <p>Once you've found a professional who fits your requirements, 
        you can easily get in touch. We provide various contact options, 
        making it convenient for you to initiate a conversation. </p>
</div>
</div>
<div class="b-divider"></div>
<div class="step">
    <h4>6. Get the Help You Need</h4>
    <div class="step-text">
    <p>Whether you're seeking legal advice, financial consultation, 
        or specialized services, our professionals are here to assist 
        you every step of the way. They bring a wealth of knowledge 
        and experience to address your unique situation. </p>
</div>
</div>
<div class="b-divider"></div>

    </div>


  </main>
  {% include 'footer.html' %}
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>