{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>Settings - JurisJunction</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/user-settings-styles.css' %}"/>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YM1GGXVM19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YM1GGXVM19');
</script>

<body>
  <main>

    {% include 'portal-navbar.html'%}
    <div class="main-content-container">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show fixed-top" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <h1 class="page-title">Settings</h1>
      <div class="page-content-items-container">
        <div class="mb-3 card settings-section-container change-password-container">
          <h5 class="card-title">
            Change Password
          </h5>
            <form action="{% url 'change_password' %}" method="POST" class="card-content-container">
              {% csrf_token %}
              <input type="password" class="form-control mb-3" id="oldPassword" name="oldPassword" placeholder="Old Password" aria-label="Old-Password" aria-describedby="basic-addon1">
              <input type="password" class="form-control mb-3" id="newPassword" name="newPassword" placeholder="New Password" aria-label="New-Password" aria-describedby="basic-addon1">
              <input type="password" class="form-control mb-3" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password" aria-label="Confirm-New-Password" aria-describedby="basic-addon1">
              <button class="mb-3 regular-button" type="submit">Confirm Change</button>
            </form>
        </div>
        <div class="mb-3 card settings-section-container change-billing-container">
          <h5 class="card-title">
            Change Billing Preferences
          </h5>
        </div>
        <div class="mb-3 settings-section-container delete-account-container">
          <button class="mb-3 regular-button delete-account-button">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>